.bodyContainer {
  padding: 25px 25px;
}
table {
    border-spacing: 0px;
    width: 100%;
    padding-top: 20px;
  }

  #sub-total {
      border-top: solid grey 1px;
  }

#total-due {
      border-bottom: solid grey 1px;
  }

#administrator {
      border-bottom: solid gray 1 px;
  }
  
.body-table-header {
    background-color: #eeee;
    color: navy;
    border: solid gray 1px;
  }
.bottom-border {
    border-bottom: solid black 1px !important;
  }

td {
    border: solid grey 1px;
  }

.data {
    border-left: solid gray  1px;
    border-right: solid gray 1px;
    border-top: none !important;
    border-bottom: none !important;
    vertical-align: baseline;
  }

.r {
    text-align: right;
  }
.v {
  vertical-align: top;
}

.l {
    text-align: left;
  }

.a {
      clear: bottom;
      height: 10px;
  }
.no-border{
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
.secondary-color {
  color:navy;
}
.center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.top-border {
  border-top: solid gray  1px;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}